<div class="container">
  <div class="panel-body">

    <!-- line modal -->
    <div class="modal fade" id="squarespaceModalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #f8f8f8;">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
              class="sr-only">Close</span></button>
            <!--<img [src]="ImgLogo" class="img-responsive" style="width: 150px; padding: 2%"/>-->
          </div>
          <div class="modal-body">

            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4">
                  <img [src]="ImgLogin" class="img-responsive" style="width: 300px; height: auto; margin-top: 10px"/>
                </div>
                <div class="col-sm-8">
                  <br>
                  <form>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="form-group">
                          <label class="label-design">First Name</label>
                          <input type="text" placeholder="" class="form-control"
                                 [(ngModel)]="model.firstName" name="firstName" id="firstName" required/>
                        </div>
                        <div class="form-group">
                          <label class="label-design">Password</label>
                          <input type="text" placeholder="" class="form-control"
                                 [(ngModel)]="model.password" name="password" id="password" required/>
                        </div>
                        <br>
                        <input data-dismiss="modal" class="btn btn-lg btn-success btn-block" (click)="clickLogin()"
                               type="submit" id="login"
                               value="Login">
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!--<h2>Members list</h2>-->
              <!--<table align="center" class="table" *ngFor="let user of users;">-->
              <!--<tr>-->
              <!--<td>{{user.firstName}}</td>-->
              <!--</tr>-->
              <!--</table>-->

              <br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
