<body>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, '6')" id="defaultOpen"></button>
  <button class="tablinks" onclick="openCity(event, '1')"><p style="font-size: 14px">
    User</p></button>
  <button class="tablinks" onclick="openCity(event, '2')"><p style="font-size: 14px">Order Payment</p>
  </button>
  <button class="tablinks" onclick="openCity(event, '3')"><p style="font-size: 14px">Confirm Payment</p>
  </button>
</div>

<div id="6" class="tabcontent">
  <h1 align="center" style="font-size: 12em; margin-top: 5%">System Management</h1>
  <div style="margin-top: 50%"></div>
</div>

<div id="1" class="tabcontent">
  <app-user-management></app-user-management>
</div>

<div id="2" class="tabcontent">
  <app-order-management></app-order-management>
</div>

<div id="3" class="tabcontent">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Payment Id</th>
      <th>Order ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Bank</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="bankStatements == undefined" *ngFor="let bankStatement of bankStatements">
      <td>{{bankStatement.users[0].id}}</td>
      <td>{{bankStatement.paymentId}}</td>
      <td>{{bankStatement.bankOrderId}}</td>
      <td>{{bankStatement.users[0].firstName}}</td>
      <td>{{bankStatement.users[0].email}}</td>
      <td>{{bankStatement.bankName}}</td>
      <td>{{bankStatement.statementDate}}</td>
      <td>{{bankStatement.statementTime}}</td>
      <td>{{bankStatement.statusBank}}</td>
      <td>{{bankStatement.statementAmount}}</td>
      <td>
        <div [hidden]="bankStatement.statusBank == confirm">
          <button class="btn btn-primary btn-md"
                  (click)="ConfirmPayment(bankStatement.id, bankStatement.users[0].email, bankStatement.paymentId, bankStatement.statementAmount, bankStatement.users[0].balance, bankStatement.bankOrderId)">
            Confirm
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
