<body>

<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">User Management</button>
  <button class="tablinks" onclick="openCity(event, '2')">Payment Management</button>
  <button class="tablinks" onclick="openCity(event, '3')">Bank Management</button>
  <button class="tablinks" onclick="openCity(event, '4')">Video Upload</button>
</div>

<div id="1" class="tabcontent">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Balance</th>
      <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="users == undefined" *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.status}}</td>
      <td>{{user.balance}}</td>
      <td>
        <button class="btn btn-warning btn-sm">Change Status</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="2" class="tabcontent">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Payment ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Payment</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="orderPayments == undefined" *ngFor="let orderPayment of orderPayments">
      <td>{{orderPayment.users[0].id}}</td>
      <td>{{orderPayment.transRef}}</td>
      <td>{{orderPayment.users[0].firstName}}</td>
      <td>{{orderPayment.users[0].email}}</td>
      <td>{{orderPayment.transAmount}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="3" class="tabcontent">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Payment Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Bank</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Confirm</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="bankStatements == undefined" *ngFor="let bankStatement of bankStatements">
      <td>{{bankStatement.users[0].id}}</td>
      <td>{{bankStatement.paymentId}}</td>
      <td>{{bankStatement.users[0].firstName}}</td>
      <td>{{bankStatement.users[0].email}}</td>
      <td>{{bankStatement.bankName}}</td>
      <td>{{bankStatement.statementDate}}</td>
      <td>{{bankStatement.statementTime}}</td>
      <td>{{bankStatement.statusBank}}</td>
      <td>{{bankStatement.statementAmount}}</td>
      <td>
        <button class="btn btn-primary btn-md"
                (click)="ConfirmPayment(bankStatement.id, bankStatement.users[0].email, bankStatement.paymentId, bankStatement.statementAmount, bankStatement.users[0].balance)">
          Confirm
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="4" class="tabcontent">
  <app-video-list-page></app-video-list-page>
</div>

</body>
