.design {
  margin: 2%;
}

.boxes-design {
  width: 70%;
}

.label-design-left {
  margin-left: 15%;
}

.margin-design {
  margin-top: 10%;
}

.btn {
  width: 40%;
}

.label-design-right {
  margin-right: 7%;
}
