<div class="container-fluid">

  <div align="center">
    <div class="row content">
      <div class="col-sm-12">
        <div class="well">
          <h4>รายการที่ค้างชำระ</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Order Payment</th>
              <th>Payment Date</th>
              <th>User Email</th>
              <th>Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let orderPayment of orderPayments">
            <tr *ngIf="orderPayment.users[0].id == currentUser.id">
              <td>{{orderPayment.id}}</td>
              <td>{{orderPayment.transRef}}</td>
              <td>{{orderPayment.createDate}}</td>
              <td>{{orderPayment.users[0].email}}</td>
              <td>{{orderPayment.transAmount}}</td>
              <td>{{orderPayment.statusOrder}}</td>
              <td>
                <div [hidden]="orderPayment.statusOrder == confirm">
                  <button class="btn btn-success btn-sm" (click)="Submit(orderPayment.id)">แจ้งชำระเงิน
                    <!--[routerLink]="['/topUpBank', orderPayment.id]"-->
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
