<body>
<div class="container-fluid">
  <form name="form" novalidate (ngSubmit)="upLoad(currentUser.id)">
    <div class="container-default">

      <nav class="navbar navbar-default bg-faded">
    <span class="navbar-text">
    <h4 align="center">Create Course</h4>
      <alert>
      <div class="alert alert-success" ng-reflect-ng-class="[object Object]">
        successful
      </div>
      </alert>
    </span>
      </nav>

      <div class="row">

        <div class="col-sm-12">

          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name Course.."
                   [(ngModel)]="Course.name"
                   #name="ngModel" required/>
          </div>

          <div class="form-group">
      <textarea class="form-control" name="description" placeholder="Course description.."
                [(ngModel)]="Course.description"
                #name="ngModel"></textarea>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="price" placeholder="Price.."
                   [(ngModel)]="Course.price"
                   #price="ngModel" required/>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-md"><span class="glyphicon glyphicon-ok"></span> Create Course</button>
          </div>

          <hr class="style1">
        </div>
      </div>

    </div>
  </form>
</div>
</body>
