<div class="container-fluid">

  <div *ngIf="currentUser == null">
    <div class="container-design">
      <div class="row">

        <div class="col-sm-4">

          <div class="thumbnail">
            <div class="crops">
              <div align="center">
                <img class="imgs"
                     src="data:{{courses.courseImages[0]?.contentType}};base64,{{courses.courseImages[0]?.content}}"
                     alt=""/>
              </div>

            </div>
          </div>

          <div class="panel panel-default br">
            <div class="panel-heading">เกี่ยวกับคอร์สนี้</div>
            <div *ngIf="courses.linkCourse != textNull" class="panel-body"><span> <p
              class="glyphicon glyphicon-shopping-cart"></p></span>
              <a href="{{courses.linkCourse}}">ซื้ออุปกรณ์ที่เกี่ยวข้อง</a>
            </div>
            <div class="panel-body" [hidden]="courses.price == textNull"><span> <i class="fa fa-money"></i></span>
              Price: {{courses.price}} Bath
            </div>
            <div class="panel-body" [hidden]="courses.price != textNull">
              <span> <i class="fa fa-money"></i></span>
              Free Couse
            </div>
            <div [hidden]="courses.price == textNull">
              <div>
                <button type="button" class="btn btn-primary" (click)="buyCourseNull()" style="margin-left: 5%">
                  ซื้อคอร์สเรียน
                </button>
              </div>
            </div>
          </div>

          <div class="panel panel-default br">
            <div class="panel-heading">เกี่ยวกับผู้สอน</div>
            <div *ngFor="let user of users" style="margin-top: 5%">
              <div *ngIf="user.id == courses.userId" style="margin-left: 7px">
                <div class="media-body">
                  <div class="profile-header-container">
                    <div class="profile-header-img">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="circular--portrait">
                            <img src="data:{{user?.userImages[0].contentType}};base64,{{user?.userImages[0].content}}">
                          </div>
                        </div>
                        <br>
                        <div class="col-lg-6">
                          <a data-toggle="modal" data-target="#myModal"
                             style="cursor: pointer; color: black; margin-top: -3%; margin-left: -70%"
                             (click)="TeacherHistory(user.email)"> {{user.firstName}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Instructor Information</h4>
                </div>
                <div *ngFor="let user of users">
                  <div class="modal-body" *ngIf="user.id == courses.userId">
                    <div class="profile-header-containers">
                      <div class="profile-header-imgs">
                        <div align="center">
                          <div class="circular--portraits">
                            <img src="data:{{user.userImages[0]?.contentType}};base64,{{user.userImages[0]?.content}}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Name : {{user.firstName}} {{user.lastName}}</p>
                    <p>Email : {{user.email}} </p>
                    <div *ngFor="let course of coursesList">
                      <div *ngIf="user.id == course.userId">
                        Course Name: {{course.name}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

          <div class="brr panel panel-default">
            <h4>คอร์สอื่นๆที่คุณอาจสนใจ</h4>
            <div class="media br">
              <div class="media-body">
                <h4 class="media-heading font-design">คอร์สต่างๆ</h4>
                <p class="font-design"></p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Course Name: {{courses.name}}
            </div>
            <div class="panel-body">Course Description: {{courses.description}}</div>
          </div>

          <div class="panel panel-default">
            <body data-spy="scroll" data-target=".navbar" data-offset="50">

            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">คอร์สเรียน</a>
              </div>
              <div>
                <div class="collapse navbar-collapse" id="myNavbar1">
                  <ul class="nav navbar-nav">
                    <li><a></a></li>
                    <li><a></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div>
                <table class="table">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of courses?.courseItems| sortBy : 'id'; let i = index">
                    <td>
                      <div class="container-fluid">
                        <div class="row col-sm-12">
                          <!-- Trigger the modal with a text -->
                          <a type="text" data-toggle="modal"
                             [attr.data-target]="'#myModal' + course.id" style="cursor: pointer">
  <span *ngIf="course.courseType == video"
        class="glyphicon glyphicon-facetime-video"></span>
                            <span *ngIf="course.courseType == image" class="glyphicon glyphicon-picture"></span>
                            {{course.name}}
                          </a>

                          <!-- Modal -->
                          <div class="modal fade" [id]="'myModal' + course.id" role="dialog"
                               *ngIf="course.canPreview == truePreview">
                            <div class="modal-dialog">
                              <div class="card-content">
                                <div align="center" class="video-responsive">
                                  <img class="img" *ngIf="course.courseType == image"
                                       src="{{'http://localhost:8080/displayImageItem/' + course.imageItems[0]?.id}}"/>
                                  <div align="center" [hidden]="course.courseType == image">
                                    <!--<video width="400" controls>-->
                                    <!--<source src="../../assets/images/JustTitle.mp4" type="video/mp4">-->
                                    <!--Your browser does not support HTML5 video.-->
                                    <!--</video>-->
                                    <video id="my-video" class="video-js vjs-default-skin vjs-big-play-button" controls
                                           preload="auto" width="800"
                                           height="450" data-setup='{ "playbackRates": [1, 1.5, 2] }' (click)="open()">
                                      <source *ngIf="course.courseType == video"
                                              src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                              type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' (click)="open()">
                                      <source *ngIf="course.courseType == video"
                                              src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                              type='video/webm;codecs="vp8, vorbis"' (click)="open()">
                                      <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web
                                        browser that
                                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                          video</a>
                                      </p>
                                    </video>
                                    <div class="overlay">
                                      <form>
                                        <div class="runtext-container">
                                          <div class="main-runtext">
                                            <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                              <div class="holder">
                                                <div class="text-container">
                                                  {{ipObj._body}}
                                                </div>
                                              </div>
                                            </marquee>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="course.canPreview != truePreview" class="glyphicon glyphicon-lock"></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            </body>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div *ngIf="currentUser != null">
    <div *ngFor="let user of users">
      <div *ngIf="user.id == currentUser.id">

        <div *ngIf="user.status == statusActive">

          <div class="container-design">
            <div class="row">

              <div class="col-sm-4">

                <div class="thumbnails">
                  <div class="crops">
                    <div align="center">
                      <img class="imgs"
                           src="data:{{courses.courseImages[0]?.contentType}};base64,{{courses.courseImages[0]?.content}}"
                           alt=""/>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">เกี่ยวกับคอร์สนี้</div>
                  <div *ngIf="coursesPurchaseed.linkCourse != textNull" class="panel-body"><span> <p
                    class="glyphicon glyphicon-shopping-cart"></p></span>
                    <a href="{{coursesPurchaseed.linkCourse}}">ซื้ออุปกรณ์ที่เกี่ยวข้อง</a>
                  </div>
                  <div class="panel-body" [hidden]="coursesPurchaseed.price == textNull"><span> <i
                    class="fa fa-money"></i></span>
                    Price: {{coursesPurchaseed.price}} Bath
                  </div>
                  <div class="panel-body" [hidden]="coursesPurchaseed.price != textNull">
                    <span> <i class="fa fa-money"></i></span>
                    Free Couse
                  </div>
                  <div *ngIf="coursesPurchaseed.price != textNull">
                    <div [hidden]="coursesPurchaseed.showLock == zero">
                      <button type="button" class="btn btn-primary" style="margin-left: 5%"
                              (click)="buyCourse(coursesPurchaseed.id, user.balance,coursesPurchaseed.price,coursesPurchaseed.name, currentUser.id)">
                        ซื้อคอร์สเรียน
                      </button>
                    </div>
                  </div>

                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">เกี่ยวกับผู้สอน</div>
                  <div *ngFor="let user of users" style="margin-top: 5%">
                    <div *ngIf="user.id == courses.userId" style="margin-left: 7px">
                      <div class="media-body">
                        <div class="profile-header-container">
                          <div class="profile-header-img">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="circular--portrait">
                                  <img
                                    src="data:{{user?.userImages[0].contentType}};base64,{{user?.userImages[0].content}}">
                                </div>
                              </div>
                              <br>
                              <div class="col-lg-6">
                                <a data-toggle="modal" data-target="#myModal1"
                                   style="cursor: pointer; color: black; margin-top: -3%; margin-left: -70%"
                                   (click)="TeacherHistory(user.email)"> {{user.firstName}}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal1" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Instructor Information</h4>
                      </div>
                      <div *ngFor="let user of users">
                        <div class="modal-body" *ngIf="user.id == courses.userId">
                          <div class="profile-header-containers">
                            <div class="profile-header-imgs">
                              <div align="center">
                                <div class="circular--portraits">
                                  <img
                                    src="data:{{user.userImages[0]?.contentType}};base64,{{user.userImages[0]?.content}}">
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>Name : {{user.firstName}} {{user.lastName}}</p>
                          <p>Email : {{user.email}} </p>
                          <div *ngFor="let course of coursesList">
                            <div *ngIf="user.id == course.userId">
                              Course Name: {{course.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">คอร์สอื่นๆที่คุณอาจสนใจ</div>
                  <div class="media-body">
                    <h4 class="media-heading font-design">คอร์สต่างๆ</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>

              </div>

              <div class="col-sm-8">
                <div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Course ID: {{coursesPurchaseed.id}}</div>
                    <div class="panel-body">Course Description: {{coursesPurchaseed.description}}</div>
                  </div>
                  <div class="panel panel-default">
                    <body data-spy="scroll" data-target=".navbar" data-offset="50">

                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">คอร์สเรียน</a>
                      </div>
                      <div>
                        <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li><a></a></li>
                            <li><a></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="container-fluid">
                      <div>
                        <table class="table">
                          <thead>
                          <tr>
                            <th></th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let course of coursesPurchaseed?.courseItems| sortBy:'id'; let i = index">
                          <tr>
                            <td>
                              <div class="container-fluid">
                                <div class="row col-sm-12">

                                  <a type="text" data-toggle="modal"
                                     [attr.data-target]="'#myModal' + course.id" style="cursor: pointer">
          <span *ngIf="course.courseType == video"
                class="glyphicon glyphicon-facetime-video"></span>
                                    <span *ngIf="course.courseType == image"
                                          class="glyphicon glyphicon-picture"></span>
                                    {{course.name}}
                                  </a>

                                  <!-- Modal -->
                                  <div *ngFor="let userCourse of user?.courses">
                                    <div *ngIf="userCourse.id == coursesPurchaseed.id">

                                      <div class="modal fade" [id]="'myModal' + course.id" role="dialog">
                                        <div class="modal-dialog">
                                          <div class="card-content">
                                            <div align="center" class="video-responsive">
                                              <img class="img" *ngIf="course.courseType == image"
                                                   src="{{'http://localhost:8080/displayImageItem/' + course.imageItems[0]?.id}}"/>
                                              <div align="center" [hidden]="course.courseType == image">
                                                <video id="my-video1" class="video-js" controls preload="auto"
                                                       width="800"
                                                       height="450" data-setup='{ "playbackRates": [1, 1.5, 2] }'
                                                       (click)="open()">
                                                  <source *ngIf="course.courseType == video"
                                                          src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                                          type='video/mp4' (click)="open()">
                                                  <source *ngIf="course.courseType == video"
                                                          src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                                          type='video/webm' (click)="open()">
                                                  <p class="vjs-no-js">
                                                    To view this video please enable JavaScript, and consider upgrading
                                                    to a web
                                                    browser that
                                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                                                      HTML5
                                                      video</a>
                                                  </p>
                                                </video>
                                                <div class="overlay">
                                                  <form>
                                                    <div class="runtext-container">
                                                      <div class="main-runtext">
                                                        <marquee direction="" onmouseover="this.stop();"
                                                                 onmouseout="this.start();">
                                                          <div class="holder">
                                                            <div class="text-container">
                                                              {{ipObj._body}}
                                                            </div>
                                                          </div>
                                                        </marquee>
                                                      </div>
                                                    </div>
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>

                                  <!--Modal-->
                                  <div class="modal fade" [id]="'myModal' + course.id" role="dialog"
                                       *ngIf="course.canPreview == truePreview">
                                    <div class="modal-dialog">
                                      <div class="card-content">
                                        <div align="center" class="video-responsive">
                                          <img class="img" *ngIf="course.courseType == image"
                                               src="{{'http://localhost:8080/displayImageItem/' + course.imageItems[0]?.id}}"/>
                                          <div align="center" [hidden]="course.courseType == image">
                                            <video id="my-video2" class="video-js" controls preload="auto" width="800"
                                                   height="450" data-setup='{ "playbackRates": [1, 1.5, 2] }'
                                                   (click)="open()">
                                              <source *ngIf="course.courseType == video"
                                                      src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                                      type='video/mp4' (click)="open()">
                                              <source *ngIf="course.courseType == video"
                                                      src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                                      type='video/webm' (click)="open()">
                                              <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web
                                                browser that
                                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                                                  HTML5
                                                  video</a>
                                              </p>
                                            </video>
                                            <div class="overlay">
                                              <form>
                                                <div class="runtext-container">
                                                  <div class="main-runtext">
                                                    <marquee direction="" onmouseover="this.stop();"
                                                             onmouseout="this.start();">
                                                      <div class="holder">
                                                        <div class="text-container">
                                                          {{ipObj._body}}
                                                        </div>
                                                      </div>
                                                    </marquee>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </td>
                            <td>
                              <div *ngIf="coursesPurchaseed.showLock == one">
                                <div>
                                  <span *ngIf="course.canPreview != truePreview"
                                        class="glyphicon glyphicon-lock"></span>
                                </div>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    </body>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
        <div *ngIf="user.status == statusInstructor">
          <div class="container-design">
            <div class="row">

              <div class="col-sm-4">

                <div class="thumbnail">
                  <div class="crops">
                    <div align="center">
                      <img class="imgs"
                           src="data:{{courses.courseImages[0]?.contentType}};base64,{{courses.courseImages[0]?.content}}"
                           alt=""/>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">เกี่ยวกับคอร์สนี้</div>
                  <div *ngIf="courses.linkCourse != textNull" class="panel-body"><span> <p
                    class="glyphicon glyphicon-shopping-cart"></p></span>
                    <a href="{{courses.linkCourse}}">ซื้ออุปกรณ์ที่เกี่ยวข้อง</a>
                  </div>
                  <div class="panel-body"><span> <i class="fa fa-money"></i></span>
                    Price: {{courses.price}} Bath
                  </div>
                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">เกี่ยวกับผู้สอน</div>
                  <div *ngFor="let user of users" style="margin-top: 5%">
                    <div *ngIf="user.id == courses.userId" style="margin-left: 7px">
                      <div class="media-body">
                        <div class="profile-header-container">
                          <div class="profile-header-img">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="circular--portrait">
                                  <img *ngIf=""
                                    src="data:{{user.userImages[0]?.contentType}};base64,{{user.userImages[0]?.content}}">
                                </div>
                              </div>
                              <br>
                              <div class="col-lg-6">
                                <a data-toggle="modal" data-target="#myModal2"
                                   style="cursor: pointer; color: black; margin-top: -3%; margin-left: -70%"
                                   (click)="TeacherHistory(user.email)"> {{user.firstName}}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Instructor Information</h4>
                      </div>
                      <div class="profile-header-containers">
                        <div class="profile-header-imgs">
                          <div align="center">
                            <div class="circular--portraits">
                              <img
                                src="data:{{user?.userImages[0].contentType}};base64,{{user?.userImages[0].content}}">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngFor="let user of users">
                        <div class="modal-body" *ngIf="user.id == courses.userId">
                          <p>Name : {{user.firstName}} {{user.lastName}}</p>
                          <p>Email : {{user.email}}</p>
                          <div *ngFor="let course of coursesList">
                            <div *ngIf="user.id == course.userId">
                              Course Name: {{course.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="panel panel-default br">
                  <div class="panel-heading">คอร์สอื่นๆที่คุณอาจสนใจ</div>
                  <div class="media-body">
                    <h4 class="media-heading font-design">คอร์สต่างๆ</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>

              </div>
              <div class="col-sm-8">

                <div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Course Name: {{courses.name}}</div>
                    <div class="panel-body">Course Description: {{courses.description}}</div>
                    <div [hidden]="user.status != active">
                      <button type="button" class="btn btn-primary"
                              (click)="buyCourse(courses.id, user.balance, currentUser.id)">
                        ซื้อคอร์สเรียน
                      </button>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <body data-spy="scroll" data-target=".navbar" data-offset="50">

                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">คอร์สเรียน</a>
                      </div>
                      <div>
                        <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li><a></a></li>
                            <li><a></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="container-fluid">
                      <div>
                        <table class="table">
                          <thead>
                          <tr>
                            <th></th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let course of courses?.courseItems| sortBy : 'id'; let i = index">
                          <tr>
                            <td>
                              <div class="container-fluid">
                                <div class="row col-sm-12">

                                  <a type="text" data-toggle="modal"
                                     [attr.data-target]="'#myModal' + course.id" style="cursor: pointer">
  <span *ngIf="course.courseType == video"
        class="glyphicon glyphicon-facetime-video"></span>
                                    <span *ngIf="course.courseType == image"
                                          class="glyphicon glyphicon-picture"></span>
                                    {{course.name}}
                                  </a>

                                  <!-- Modal -->
                                  <div class="modal fade" [id]="'myModal' + course.id" role="dialog">
                                    <div class="modal-dialog">
                                      <div class="card-content container">
                                        <div align="center" class="video-responsive">
                                          <img class="img" *ngIf="course.courseType == image"
                                               src="{{'http://localhost:8080/displayImageItem/' + course.imageItems[0]?.id}}"/>
                                          <div align="center" [hidden]="course.courseType == image">
                                            <video id="my-video4" class="video-js" controls preload="auto" width="800"
                                                   height="450" data-setup='{ "playbackRates": [1, 1.5, 2] }'
                                                   (click)="open()">
                                              <source *ngIf="course.courseType == video"
                                                      src="{{'http://localhost:8080/playVideo/' + course.videoClips[0]?.id}}"
                                                      type='video/mp4'>
                                              <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to
                                                a
                                                web
                                                browser that
                                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                                                  HTML5
                                                  video</a>
                                              </p>
                                            </video>
                                            <div class="overlay">
                                              <form>
                                                <!--<p-->
                                                <!--style="font-size: 18px; color: white; width: 100%; margin-left: 40%; margin-top: 30px">-->
                                                <!--<span class="blink_me">{{ipObj._body}}</span>-->
                                                <!--</p>-->
                                                <div class="runtext-container">
                                                  <div class="main-runtext">
                                                    <marquee direction="" onmouseover="this.stop();"
                                                             onmouseout="this.start();">
                                                      <div class="holder">
                                                        <div class="text-container">
                                                          {{ipObj._body}}
                                                        </div>
                                                      </div>
                                                    </marquee>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </td>

                            <td>
                              <span *ngIf="course.canPreview != truePreview" class="glyphicon glyphicon-lock"></span>
                            </td>

                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    </body>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
