<div class="bg">
  <div class="container-fluid">
    <div class="container-design">
      <div class="row col-sm-12">
        <div class="col-sm-4">
          <video width="360" height="200" controls>
            <source src="{{videoSource}}" type="video/mp4">
            <source src="{{videoSource}}" type="video/ogg">
            Your browser does not support HTML5 video.
          </video>
          <div class="panel panel-default br">
            <div class="panel-heading">เกี่ยวกับคอร์สนี้</div>
            <div class="panel-body"><span> <p class="glyphicon glyphicon-calendar"></p></span> เรียนคอร์สนี้ได้อีก 30
              วัน
            </div>
            <div class="panel-body"><span> <p class="glyphicon glyphicon-facetime-video"></p></span> วิดีโอความยาว 1
              ชั่วโมง 15 นาที
            </div>
          </div>
          <div class="panel panel-default br">
            <div class="media br">
              <div class="media-left">
                <img [src]="ImgUser" class="media-object" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading font-design">เกี่ยวกับผู้สอน</h4>
                <p class="font-design">Teacher_Name</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">คำอธิบายคอร์สเรียน</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-body">Panel Content</div>
          </div>
          <div class="panel panel-default">
            <body data-spy="scroll" data-target=".navbar" data-offset="50">

            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">เนื้อหาคอร์ส</a>
              </div>
              <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="#section1">เอกสารประกอบ</a></li>
                    <li><a href="#section2">ถามตอบ</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="section1" class="container-fluid">
              <h1>Section 1</h1>
              <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section
                and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section
                and look at the navigation bar while scrolling!</p>
            </div>

            </body>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

