.bg {
  position: relative;
  /*background: linear-gradient(to bottom, #8ea4bd 0%, #7f91a9 100%);*/
  width: 100%;
  min-height: 100vh;
}

.container-design {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

.font-design {
  padding: 2%;
}

.br {
  margin-top: 8%;
  padding: 2%;
  position: relative;
}

.brr {
  margin-top: 2%;
  padding: 2%;
  height: 200px;
}

.video-responsive {
  position: relative;
  margin: 2%;
  overflow: hidden;
  padding: 5%;
}

body {
  position: relative;
}

/*.img {*/
/*width: 100%;*/
/*height: auto;*/
/*overflow: hidden;*/
/*}*/

/*.crop {*/
/*max-height: 350px;*/
/*max-width: 100%;*/
/*}*/

/*.crop img {*/
/*max-height: 300px;*/
/*max-width: 100%;*/
/*margin: 0 0 0 0;*/
/*}*/

.thumbnail {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.crop {
  max-height: 250px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.crop img {
  max-height: 250px;
  max-width: 100%;
  margin: -20% -5% -20%;
}
