<div class="bg">
  <div class="container-fluid">
    <div class="container-design">
      <div class="row">

        <div class="col-sm-4">
          <div class="panel panel-default brr img">
            <div align="center" *ngFor="let imageCourse of courses?.imageCourses">
              <img class="img-responsive" src="{{'http://localhost:8080/displayImage/' + imageCourse.id}}">
            </div>
          </div>
          <div class="panel panel-default br">
            <div class="panel-heading">เกี่ยวกับคอร์สนี้</div>
            <div class="panel-body"><span> <p class="glyphicon glyphicon-calendar"></p></span> เรียนคอร์สนี้ได้อีก 30
              วัน
            </div>
            <div class="panel-body"><span> <p class="glyphicon glyphicon-facetime-video"></p></span> วิดีโอความยาว 1
              ชั่วโมง 15 นาที
            </div>
          </div>
          <div class="panel panel-default br">
            <div class="media br">
              <div class="media-left">
                <img [src]="ImgUser" class="media-object" style="width:60px">
              </div>
              <div class="media-body" *ngFor="let user of courses?.users">
                <h4 class="media-heading font-design">เกี่ยวกับผู้สอน</h4>
                <p class="font-design">{{user.firstName}} {{user.lastName}}</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Course Name: {{courses.name}}</div>
            <div class="panel-body">Course Description: {{courses.description}}</div>
            <button type="button" class="btn btn-warning">ซื้อคอร์สเรียน</button>
            <button type="button" class="btn btn-warning">สนใจคอร์สเรียน</button>
          </div>
          <div class="panel panel-default">
            <body data-spy="scroll" data-target=".navbar" data-offset="50">

            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">คอร์สเรียน</a>
              </div>
              <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a>เอกสารประกอบ</a></li>
                    <li><a>ถามตอบ</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Video name</th>
                    <th>Video</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of courses?.videoClips">
                    <td>{{course.fileName}}</td>
                    <td>
                      <div align="center">
                        <video class="video-responsive" controls>
                          <source src="{{'http://localhost:8080/playVideo/' + course.id}}" type="video/mp4">
                          Your browser does not support HTML5 video.
                        </video>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            </body>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
