<footer>
  <div class="container">
    <div class="row">
      <!--<div class="col-md-3 col-sm-6 paddingtop-bottom">-->
      <!--<h6 class="heading7">About</h6>-->
      <!--<ul class="footer-ul">-->
      <!--<li><a href="#"> Privacy statement</a></li>-->
      <!--<li><a href="#"> Term of Service</a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Contact</h6>
        <ul class="footer-ul">
          <li><p href="#"><span class="fa fa-envelope"></span>&nbsp;&nbsp;&nbsp; makehappen.net@gmail.com</p></li>
          <li><p href="#"><span class="fa fa-phone"></span>&nbsp;&nbsp;&nbsp; 081-715-7914</p></li>
          <li><a href="https://www.facebook.com/tamdai.net/"><span class="fa fa-facebook-square"></span></a></li>
        </ul>
      </div>

      <!--<div class="col-md-3 col-sm-6 paddingtop-bottom">-->
      <!--<h6 class="heading7">Social</h6>-->
      <!--<ul class="footer-ul">-->
      <!--<li><a href="https://www.facebook.com/tamdai.net/">-->
      <!--<span class="fa fa-facebook">&nbsp;&nbsp;&nbsp;</span>-->
      <!--</a>-->
      <!--<a href="https://www.youtube.com/"><span class="fa fa-youtube"></span></a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7"></h6>
        <ul class="footer-ul">
          <li><a href="#"></a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>
<!--footer start from here-->
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 People Learn Co.,Ltd All rights reserved</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="http://tamdai.net/terms">Privacy statement    </a></li>
        <li>&nbsp;&nbsp;|&nbsp;Term of Service</li>
        <!--<li>-->
        <!--<a class="btn btn-block btn-social btn-facebook">-->
        <!--<span class="fa fa-facebook font-footer-design"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="btn btn-block btn-social btn-instagram">-->
        <!--<span class="fa fa-instagram font-footer-design"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="btn btn-block btn-social btn-twitter">-->
        <!--<span class="fa fa-twitter font-footer-design"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="btn btn-block btn-social btn-tumblr">-->
        <!--<span class="fa fa-tumblr font-footer-design"></span>-->
        <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>

