<body>

</body>
<div class="row" style="margin-top: 2%">

  <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="">
        <div class="well well-height">
          <div align="center">
            <h4 style="color: white; margin: -5% 2% 2% 2%; padding: 2%;">Menu</h4>
          </div>
        </div>
        <div style="margin-top: -20px">
          <ul class="list-group">
            <li class="list-group-item">Menu item</li>
            <li class="list-group-item">Menu item</li>
            <li class="list-group-item">Menu item</li>
            <li class="list-group-item">Menu item</li>
            <li class="list-group-item">Menu item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <div>
        <div *ngFor="let user of users">
          <div *ngIf="user.id == currentUser.id">
            <div [hidden]="user.status != instructor">
              <div class="well well-sm style-height-bar">
                <a style="color: white" href="#" id="list" [routerLink]="['/createCourse']"><span
                  class="glyphicon glyphicon-th-list">
              </span>Create Course</a>
                <a style="color: white" href="#" id="grid"
                   [routerLink]="['/EditCourse']"><span
                  class="glyphicon glyphicon-th"></span>EditCourse</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentUser == undefined">
        <div class="well well-sm style-height-bar">
          <p style="color: white; font-size: 18px">All Course</p>
        </div>
      </div>

      <div *ngFor="let user of users">
        <div *ngIf="user.id == currentUser.id">
          <div [hidden]="user.status == instructor">
            <div class="well well-sm style-height-bar">
              <p style="color: white; font-size: 18px">All Course</p>
            </div>
          </div>
        </div>
      </div>

      <div align="center">
        <!--<div *ngFor="let user of users">-->
        <!--<div *ngIf="user.id == currentUser.id">-->
        <!--<div *ngIf="user.status != instructor">-->
        <!--<div class="btn-group" class="well well-sm">-->
        <!--<h4 style="color:white;">New Course</h4>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div *ngIf="currentUser == null">-->
        <!--<div class="btn-group" class="well well-sm well-height">-->
        <!--</div>-->
        <!--</div>-->

        <div id="products" class="row list-group">
          <div class="item col-xs-12 col-sm-3 col-lg-3" *ngFor="let course of courses| sortBy : 'id'; let i = index">

            <div class="thumbnail" *ngIf="course.publicCourse == textTrue">
              <div class="crop" *ngFor="let imageCourse of course?.imageCourses">
                <img class="img" src="{{'http://192.168.1.7:8080/displayImage/' + imageCourse.id}}" alt=""/>
              </div>
              <div align="left" [hidden]="course.linkCourse == textNull">
                <a style="cursor: pointer"><span
                  style="font-size: 20px; color: #bf2b2a; float: right; margin-top: -150px; margin-right: 5px"
                  class="glyphicon glyphicon glyphicon-bookmark"></span></a>
              </div>

              <div class="caption" align="left">
                <h6 class="group inner list-group-item-heading">{{course.name}}</h6>
                <!--<div *ngFor="let user of users" align="left">-->
                <!--<p class="small" *ngIf="user.id == course.userId">-->
                <!--{{user.firstName}}-->
                <!--</div>-->
                <div class="row">
                  <div class="col-xs-12 col-md-6" align="right">
                    <button class="btn btn-danger btn-sm" (click)="click(course.id)">
                      ดูรายละเอียด
                    </button>
                    <div *ngFor="let user of users">
                      <div *ngIf="user.id == currentUser.id">
                        <!--<div [hidden]="user.status != instructor">-->
                        <!--<a class="btn btn-default btn-sm"-->
                        <!--[routerLink]="['/EditCourse']"><span-->
                        <!--class="glyphicon glyphicon-th"></span>EditCourse</a>-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>
