<div class="container-fluid">

  <div align="center">
    <div class="row content">
      <div class="col-sm-12">
        <div class="well">
          <h2>เติมเงินออนไลน์</h2>

          <div class="checkbox-container navbar-default">
            <div align="left">

              <form name="form" #f="ngForm" novalidate>
                <div class="form-group" style="width: 70%">
                  <p>1.</p>
                  <label>ระบุจำนวนเงินที่ต้องการเติม</label>
                  <div class="form-group has-feedback">
                    <input #box (keyup)="onKey(box.value)" type="text" class="form-control" name="transAmount"
                           id="transAmount"
                           [(ngModel)]="Order.transAmount"
                           #transAmount="ngModel"/>
                  </div>
                </div>
                <div class="form-group">
                  <hr>
                  <p>2.</p>
                  <label>ระบุรายการเติมเงิน</label>
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>ยอดเงินคงเหลือ</th>
                      <th>จำนวนเงินที่ต้องการเติม</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><p>{{currentUser.balance}} Bath.</p></td>
                      <td><p [hidden]="!values" style="color: red; font-size: 14px">+ {{values}} Bath.</p></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <hr>
                  <p>3.</p>
                  <label>ตรวจสอบรายละเอียดอีกครั้งแล้วยืนยัน</label>
                  <div class="form-group">
                    <label for="transRemark">*หมายเหตุ</label>
                    <textarea class="form-control" name="transRemark" id="transRemark" rows="3"
                              [(ngModel)]="Order.transRemark"
                              #transRemark="ngModel"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <hr>
                  <p>4.</p>
                  <button type="button" class="btn btn-primary btn-md" (click)="Confirm()">บันทึก</button>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
