.img-responsive {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}

.book {
  padding: 15px 0 0 0;
  margin: 5%;
}

.shelf {
  border-bottom: 30px solid #A1A194;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -15px;
  z-index: -1;
}

.container {
  width: 95%;
}
