<div class="container">
  <div class="row col-sm-12">

    <h2>Video_Name</h2>
    <h4>Video_Content</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
    <!-- Left-aligned media object -->
    <div class="media">
      <div class="media-left">
        <img [src]="ImgUser" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Teacher</h4>
        <p>Teacher_Name</p>
        <button class="btn btn-primary">Follow</button>
      </div>
    </div>
    <hr>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <video width="400" controls>
          <source src="mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">

        <form class="check-boxes">
          <div class="checkbox">
            <label><input type="checkbox" class="fa fa-circle-o" value="" disabled>Option 1</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 2</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 1</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 2</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 1</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 2</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 1</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" disabled>Option 2</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
        </form>

      </div>
    </div>

    <div class="col-sm-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a class="smoothScroll">About</a></li>
            <li><a class="smoothScroll">Community</a></li>
            <li><a class="smoothScroll">Your Project</a></li>
            <li><a class="smoothScroll">All Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="smoothScroll">Save</a></li>
            <li><a class="smoothScroll">Leave Review</a></li>
            <li>
              <a class="btn-social btn-twitter">
                <span class="fa fa-twitter font-footer-design"></span>
              </a>
            </li>
            <li>
              <a class="btn-social btn-facebook">
                <span class="fa fa-facebook font-footer-design"></span>
              </a>
            </li>
            <li>
              <a class="btn-social btn-envelope">
                <span class="fa fa-envelope font-footer-design"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </div>
</div>
<app-footer></app-footer>
