<div class="bg">
  <div class="container-fluid" *ngFor="let user of users">
    <div class="container" *ngIf="user.id == currentUser.id">
      <div style="margin-top: 5%" class="fb-profile">
        <!--<img style="height: 450px" align="left" class="fb-image-lg" [src]="ImageUserCover"-->
        <!--alt="Profile image example"/>-->
        <!--<img align="left" class="fb-image-profile thumbnail" [src]="ImageUserProfile"-->
        <!--alt="Profile image example"/>-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="fb-profile-text">
          <!--<h2>{{currentUser.firstName}}</h2>-->
          <div [hidden]="user.status != active">
            <h3><b>Your balance {{user.balance}} Bath.</b></h3>
          </div>
        </div>
        <br>
        <nav class="navbar navbar-inverse" [hidden]="user.status == instructor">
          <div class="container-fluid">
            <ul class="nav navbar-nav">

              <!--<li>-->
              <!--<div [hidden]="user.status != active"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/topUpOnline']">เติมเงิน &nbsp;&nbsp;&nbsp;</p>-->
              <!--</div>-->
              <!--</li>-->

              <!--<li>-->
              <!--<div [hidden]="user.status != active"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/nonTopUp']">รายการค้างชำระ-->
              <!--&nbsp;&nbsp;&nbsp;</p></div>-->
              <!--</li>-->

              <!--<li>-->
              <!--<div [hidden]="user.status != active"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/PaymentLists']">รายการบัญชีย้อนหลัง &nbsp;&nbsp;&nbsp;</p>-->
              <!--</div>-->
              <!--</li>-->

              <!--<li>-->
              <!--<div [hidden]="user.status != instructor"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/createCourse']">สร้างคอร์สเรียน &nbsp;&nbsp;&nbsp;</p>-->
              <!--</div>-->
              <!--</li>-->

              <!--<li>-->
              <!--<div [hidden]="user.status != instructor"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/EditCourse']">แก้ไขคอร์สเรียน &nbsp;&nbsp;&nbsp;</p>-->
              <!--</div>-->
              <!--</li>-->

              <!--<li>-->
              <!--<div [hidden]="user.status != admin"><p style="cursor: pointer; color: white;"-->
              <!--[routerLink]="['/management']">จัดการระบบ &nbsp;&nbsp;&nbsp;</p>-->
              <!--</div>-->
              <!--</li>-->

              <div [hidden]="user.status != active">
                <button class="btn btn-danger navbar-btn" [routerLink]="['/topUpOnline']">เติมเงิน</button>
                <button class="btn btn-danger navbar-btn" [routerLink]="['/CourseHistory']">คอร์สที่ซื้อ</button>
                <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/nonTopUp']">รายการค้างชำระ</button>-->
                <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/PaymentLists']">รายการบัญชีย้อนหลัง</button>-->
                <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/purchaseCart']">คอร์สเรียนที่ซื้อ</button>-->
              </div>
              <!--<div [hidden]="user.status != instructor">-->
              <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/createCourse']">สร้างคอร์สเรียน</button>-->
              <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/EditCourse']">แก้ไขคอร์สเรียน</button>-->
              <!--</div>-->
              <div [hidden]="user.status != admin">
                <!--<button class="btn btn-danger navbar-btn" [routerLink]="['/management']" disabled>จัดการระบบ</button>-->
                <button class="btn btn-danger navbar-btn" (click)="showU()">User Management</button>
                <button class="btn btn-danger navbar-btn" (click)="showO()">Order Management</button>
                <button class="btn btn-danger navbar-btn" (click)="showC()">Confirm Management</button>
              </div>

            </ul>
          </div>
        </nav>
        <div [hidden]="user.status != active">
          <app-non-top-up></app-non-top-up>
          <app-payment-history-list></app-payment-history-list>
        </div>
        <div [hidden]="user.status != instructor">
          <div class="row">
            <div>
              <div class="col-lg-12">
                <app-edit-user></app-edit-user>
              </div>
              <!--<div class="col-lg-6">-->
              <!--<app-video-list-page></app-video-list-page>-->
              <!--</div>-->
              <div class="col-lg-12">
                <app-edit-course></app-edit-course>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="user.status != admin">

          <div *ngIf="show1">
            <br>
            <h2>User Management</h2>
            <app-user-management></app-user-management>
          </div>

          <div *ngIf="show2">
            <br>
            <h2>Order Management</h2>
            <app-order-management></app-order-management>
          </div>

          <div *ngIf="show3">
            <br>
            <h2>Payment Management</h2>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>User ID</th>
                <th>Payment Id</th>
                <th>Order ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Bank</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr [hidden]="bankStatements == undefined" *ngFor="let bankStatement of bankStatements">
                <td>{{bankStatement.users[0].id}}</td>
                <td>{{bankStatement.paymentId}}</td>
                <td>{{bankStatement.bankOrderId}}</td>
                <td>{{bankStatement.users[0].firstName}}</td>
                <td>{{bankStatement.users[0].email}}</td>
                <td>{{bankStatement.bankName}}</td>
                <td>{{bankStatement.statementDate}}</td>
                <td>{{bankStatement.statementTime}}</td>
                <td>{{bankStatement.statusBank}}</td>
                <td align="right">{{bankStatement.statementAmount}}</td>
                <td>
                  <div [hidden]="bankStatement.statusBank == confirm">
                    <button class="btn btn-primary btn-md"
                            (click)="ConfirmPayment(bankStatement.id, bankStatement.users[0].email, bankStatement.paymentId, bankStatement.statementAmount, bankStatement.users[0].balance, bankStatement.bankOrderId)">
                      Confirm
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
  </div>
</div>

<app-footer></app-footer>
