<div class="bg">
  <div class="container-fluid" align="center">
    <nav class="navbar navbar-default margin-design">
      <div class="container-fluid nav-design">
        <div class="navbar-header">
          <p class="navbar-brand">บัญชีของ {{currentUser.firstName}}</p>
        </div>
      </div>
    </nav>

    <div class="margin-design-top" *ngFor="let user of users">
      <div class="container-fluid margin-design" *ngIf="user.id == currentUser.id">
        <div class="row content">
          <br>
          <div class="col-sm-12">
            <div id="section1" class="well">
              <h4>{{user.firstName}} ยอดเงินของคุณ</h4>
              <p>คงเหลือในบัญชี {{user.balance}} บาท</p>
            </div>
            <div class="row">
              <div class="col-sm-4 ex1" [routerLink]="['/topUpOnline']">
                <div class="well">
                  <p>เติมเงิน</p>
                  <p>ONLINE</p>
                </div>
              </div>
              <div class="col-sm-4 ex1" [routerLink]="['/nonTopUp']">
                <div class="well">
                  <p>รายการ</p>
                  <p>ค้างชำระ</p>
                </div>
              </div>
              <div class="col-sm-4 ex1" [routerLink]="['/PaymentLists']">
                <div class="well">
                  <p>บัญชี</p>
                  <p>ของคุณ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
