(function (global) {
    System.config({
        paths: {
            'npm:': 'node_modules/'
        },
        map: {
            // Other components are here...

            'mydatepicker': 'npm:mydatepicker/bundles/mydatepicker.umd.min.js'
        },
        packages: {
        }
    });
})(this);

barrels const barrels: string[] = [ ... // Thirdparty barrels. 'rxjs', 'ng2-facebook-rxjs', ... ];

System.config({ map: { '@angular': 'vendor/@angular', 'rxjs': 'vendor/rxjs', 'ng2-facebook-rxjs': 'vendor/ng2-facebook-rxjs/dist', 'main': 'main.js' }, packages: cliSystemConfigPackages });
