<nav class="navbar navbar-default bg-faded">
  <div class="container-fluid">
    <div align="right">
      <button [routerLink]="['/createCourse']" class="btn btn-success btn-md" style="width: 10%; margin-right: 70px; height: auto"> Create Course</button>
    </div>
    <table class="table table-striped" style="margin-top: 30px">
      <thead>
      <tr>
        <!--<th>#</th>-->
        <th>Name</th>
        <th>Price</th>
        <th>Public/Private</th>
        <th>Type</th>
        <th>Catagory</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let userCourse of courses | sortBy : 'id'; let i = index">
      <tr *ngIf="userCourse.userId == currentUser.id">
        <!--<td>{{i+1}}</td>-->
        <td>{{userCourse.name}}</td>
        <td>{{userCourse.price}}</td>
        <td>{{userCourse.publicCourse}}</td>
        <td>{{userCourse.courseType}}</td>
        <td>{{userCourse.catagory}}</td>
        <td>
          <button class="btn btn-primary btn-md"
                  (click)="EditCourse(userCourse.id)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="DeleteCourse(userCourse.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</nav>
