<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Public/Private</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let userCourse of courses | sortBy : 'id'; let i = index">
    <tr *ngIf="userCourse.userId == currentUser.id">
      <td>{{i+1}}</td>
      <td>{{userCourse.name}}</td>
      <td>{{userCourse.price}}</td>
      <td>{{userCourse.publicCourse}}</td>
      <td>
        <button class="btn btn-primary btn-md"
                (click)="EditCourse(userCourse.id)">
          Edit
        </button>
        <button class="btn btn-danger" (click)="DeleteCourse(userCourse.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
